body {
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-color: #fff;
    color: #8B0000;
    margin: 0;
    padding: 20px;
}

#hub {
    max-width: 800px;
    margin: auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

#main-nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

#main-nav ul li {
    margin: 0 15px;
}

#main-nav ul li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

#main-nav ul li a:hover {
    text-decoration: underline;
}

#skills ul {
    list-style: disc;
    padding-left: 20px;
    background-color: #fff;
}

#skills ul li {
    margin-bottom: 5px;
}

#work-experience ul {
  list-style: disc;
  padding-left: 20px;
  background-color: #fff;
}

#work-experience ul li {
  margin-bottom: 5px;
}

#map {
  height: 500px;
  width: 90%;
  max-width: 1000px; 
  margin: 20px auto; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  border: 1px solid #ddd;
}

#goToIIT {
  display: block;
  margin: 0 auto 20px auto;
  padding: 10px 20px;
  background: #CC0000;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#goToIIT:hover {
  background: #A30000;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1 {
  text-align: center;
  color: #444;
}

h2 {
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
  color: #555;
}

h4 {
  color: #666;
  margin-bottom: 5px;
}

p {
  font-size: 16px;
  line-height: 1.5;
  background-color: white;
}

iframe {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 5px solid #333; 
  border-radius: 10px; 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: auto;
}


@media (min-width: 600px) {
  #hub {
    padding: 30px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
  }

  #main-nav ul {
    justify-content: space-between;
    padding: 15px 30px;
  }

  #main-nav ul li a {
    font-size: 18px;
  }

  iframe {
    width: 640px;
    height: 360px;
  }

  p {
    font-size: 18px;
    text-align: center;
  }
}

@media (min-width: 900px) {
  #hub {
    max-width: 1000px;
    padding: 40px;
    border-radius: 20px;
  }

  #main-nav ul {
    padding: 20px 50px;
    border-radius: 10px;
  }

  #main-nav ul li a {
    font-size: 20px;
    padding: 10px 20px;
  }

  iframe {
    width: 800px;
    height: 450px;
  }

  p {
    font-size: 20px;
    line-height: 1.8;
    text-align: center;
  }
}
